{% extends 'partials/base.html' %}


{% block content %}
    <div class="container-fluid mt-4 pt-3">
        <div class="row">
            <div class="col-sm-8 border border-start-0 border-secondary">
                <h3 class="text-center">Map</h3>
                {{m | safe}}
            </div>
            <div class="col-sm-4 border border-secondary">
                <h3 class="text-center">Info</h3>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                  {% comment %} В этом блоке я хочу вывести сообщение {% endcomment %}
                  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                  <div>                 
                    <form id="refresh-form" action="{% url 'chat' %}">
                        <input type="submit" value="Refresh">
                    </form>
                    <div id="chat">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                
                <script>
                $(document).ready(function() {
                    $("#refresh-form").submit(function(event) {
                        event.preventDefault();
                        $.ajax({
                            url: $(this).attr("action"),
                            type: 'GET',
                            success: function(response) {
                                $('#exampleFormControlTextarea1').html(response.message);
                            }
                        });
                    });
                });
                </script>
                
                  
                            
            </div>
        </div>
    </div>
{% endblock %}